# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
.env.*

# Datasets
data/raw/*
!data/raw/.gitkeep
!data/raw/manifest.json

data/auxiliary/*
!data/auxiliary/.gitkeep

data/processed/*
!data/processed/.gitkeep

# ZIPs locais e estrutura legada
*.zip

# Modelos
ml/models/*.joblib
ml/models/*.pkl

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Logs
*.log
